{% extends "base.html" %}
{% load static %}
{% block css_files %}

<link rel="stylesheet" href="{% static "challenges/challenges.css" %}" >


{% endblock css_files %}


  {% block page_title %}
  All Challenges
  {% endblock page_title %}

  {% block content  %}
  {% include "./includes/header.html" with active_page="index" %}

  <ul>
    {% for m in months %}
    <!-- 
    Hard coded
    attention!!! if we just give challenges/{}
    the root is created relative to /challenges/

 <li><a href="/challenges/{{m}}">{{ m|title }}</a></li>  

    -->
    <li><a href="{% url 'month-challenge' m %}">{{ m|title }}</a></li>
     {% endfor %} 
</ul>

  {% endblock content  %}
    

